.edu {
    display: block;
    text-align: center;
    background-color: transparent;
    padding: 3px;
    
}
.edu h1{
    margin: 2px;
    font-size: 56px;
}

body {
    background-color:rgb(207 205 164);
}

.navbar li {
    display: inline;
    align-self: center;
    float: right;

}

.navbar {
    display: block;
    background-color: #96a3bf;
    height: 6vh;

}

.navbar li a {
    text-decoration: none;
    /* padding-top: 57px; */
    margin: 16px;
    display: flex;
    align-self: center;
    justify-content: center;
    color: #582e2e;
}

.navbar li a:hover {
    color: black;
    text-decoration: underline;

}
.container {
    height: 50%;
    border: 2px solid rebeccapurple;
    width: 75%;
    text-align: center;
    position: absolute;
    right: 134px;
    background-color: papayawhip;
}
.nav{
    display: inline-block;
    width: 12px auto;
    padding-left: 86px;
}
.table{
    display: inline;
    text-align: center;

}
.table th{
    padding: 12px;
}
h2{
    display: inline;
    position: absolute;
    top: 83px;
    left: 27px;
}