 

body{
    margin: 1rem 2rem;
    height: 112rem;
    
}
.navbar h2{
    display: inline;
    font-size: 4rem;

    font-family: jost;
    /* font-family: 'Acme', sans-serif; */
}
.navbar{
    display: block;
}
.navbar li{
    display: block;
    float: right;
    
}
.navbar li a{
    display: inline;
    text-decoration: none;
    font-size: x-large;
    margin: 1rem;
    color: rgb(35, 32, 140);
}
.navbar li a:hover{
    color: black;
    background-color: aquamarine;
}
nav{
    display: inline;
}
.container{
    display: flex;
    padding: 4rem 2rem;
}
.cnt{
    display: inline-block;
    width: 40%;
    padding: 8rem 3rem;
}
.cnt1{
    width: 18rem;
    padding: 5rem 9rem;
}
.cnt1 img{
    width: 23rem;
    border-radius: 1rem;
}
.cnt h1{
    font-size: 4rem;
    margin: 0px;
    /* font-family: 'Acme', sans-serif; */
  font-family: jost;
}
.cnt p{
    font-size: 2rem;
}
.cnt button{
    font-size: 2rem;
}
.cnt button:hover{
    background-color: rgba(169, 169, 169, 0.49);
    border: none;
}
.btn{
    display: block;
    height: 48rem;
    background-color: #141313;
    padding: 3rem;
    text-align: center;
    flex-wrap: wrap;
   
}
.btn input{
    color: rgb(23, 17, 17);
    width: 33%;
    height: 3rem;
    font-size: 2rem;
}
.btn input:hover{
    background-color: beige;

}
.cnt2{
    display: block;
    color: white;
}
.cnt2 h1{
    font-size: 3rem;
}
#cnt_p{
    font-size: 2rem;
    color: pink
}
p._p{
    background-color: blue;
    height: 2rem;
    padding-top: 1rem;
}
.submit{
    display: flex;
    height: 15rem;
    margin: 3rem 7rem;

}
.part{
    color: white;
    border-radius: 1rem;
}
.part:hover{
    background-color: black;
}
.part a{
    color: rgb(54, 11, 11);
    text-decoration: none;
    text-align: left;
}
.part a:hover{
    background-color: rgb(35, 70, 70);
}
.part p{
    color: rgb(216, 166, 174);
}
.end{
    color: white;
    text-align: left;
    width: 65%;
}
.end1{
    width: 25rem;
    margin: 1rem;
}