.navbar{
    flex-direction: column;
    
}
nav{
    width: 100%;
    text-align: center;
}
ul{
  display: inline;
    /* text-align: center; */
}
ul li{
    display: inline;
    text-align: center;
}
.container{
    height: 40rem;
}
.mainbody{
    flex-direction: column; 
}
.px{
    width: 40rem;
}
#box1{
    width: 20rem;
    text-align: center;
    margin-top: 22rem;
    
}
#box2{
    padding: 4rem;
}
.items{
    flex-direction: column;
}
.team{
    flex-direction: column;
}
